.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

html,
body,
#root,
.App {
  margin: 0;
  padding: 0;
  width: 100vw;
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
}

@media (min-width: 1440px) {
  .App {
    width: 75%;
    margin: 0 auto;
  }
}


.main {
  width: 56%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.App_logo {
  width: 10vw;
  height: 10vw;
  min-width: 60px;
  min-height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin: 0 43%;
}