.filter_option {
    font-size: 1.25rem;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &:hover {
        background: #F1FCFF;
    }

    .control-checkbox {
        position: relative;
        right: -1.5rem;
    }
}

/* This css is for normalizing styles. You can skip this. */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.filter_option input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.filter_option label {
    position: relative;
    cursor: pointer;
}

.filter_option label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #0079bf;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 0.75rem;
    border-radius: 0.2rem;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 0.6rem;
}

.filter_option input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;
    width: 0.6rem;
    height: 1rem;
    border: solid #0079bf;
    border-width: 0 0.15rem 0.15rem 0;
    transform: rotate(45deg);
}