.tab {
  width: 50%;
  border: none;
  background: #FFFFFF;
  color: #4A4A4A;
  letter-spacing: calc(1rem/28);
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
  font-size: 0.85rem;
  line-height: 3.5rem;
  padding: 0;
}

.selected {
  background: #2196F3;
  letter-spacing: calc(1rem/28);
  color: #FFFFFF;
  border: none;
}

#cheap {
  border-radius: 0.25rem 0 0 0.25rem;
}

#fast {
  border-radius: 0 0.25rem 0.25rem 0;
}