$blue: #2196f3;
$green: #9dc826;
$indent: 1.66rem;
$gray: #A0B0B9;

.tickets-template {
  margin-top: 1.66rem;
}

.ticket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: $indent;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: $indent;

  p {
    margin: 0;
  }

  .ticket__price {
    width: 50%;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: $blue;
  }

  .ticket__carrier {
    width: 25%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin-right: 5%;
  }

  .segment {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: $indent/2;

    .flight,
    .duration,
    .stops {
      width: 30%;

      font-size: 1rem;

      .title {
        color: $gray;
      }

      .info {
        color: #4A4A4A;
      }
    }
  }
}