$blue: #2196f3;
$green: #9dc826;
$indent: 1.66rem;

.ticket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  padding: $indent;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: $indent;
  p {
    margin: 0;
  }

  .ticket__price {
    width: 50%;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: $blue;
  }

  .ticket__carrier {
    width: 50%;
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: $green;
  }

  .segment {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: $indent/2;

    .flight, .duration, .stops {
      width: 30%;
    }
  }
}
