@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
  font-size: 1.56vw;
  background-color: #e5e5e5;
}

@media (min-width: 1440px) {
  html {
    font-size: 14px;
  }
}